worker_processes auto;
user root root;

events {
    multi_accept on;
    use epoll;
    worker_connections 2048;
}

http {

    proxy_cache off;
    tcp_nodelay on;
    underscores_in_headers on;

{% if not inventory_hostname in groups['runners_s3'] %}
    upstream s3 {
        keepalive 256;
{% for h in groups['runners_s3'] %}
        server {{ hostvars[h].ansible_host }}:8000;
{% endfor %}
    }
{% endif %}

{% if not inventory_hostname in groups['runners_srebiuldd'] %}
    upstream srebuildd {
        keepalive 256;
{% for h in groups['runners_srebuildd'] %}
        server {{ hostvars[h].ansible_host }}:81;
{% endfor %}
    }
{% endif %}

{% if not inventory_hostname in groups['runners_s3'] %}
    server {
        listen 127.0.0.1:8000;

        access_log /logs/sparkworker-sidecar-s3-http.log combined;
        error_log /logs/sparkworker-sidecar-s3-http.err.log warn;

        location / {
          proxy_pass http://s3;
        }

        proxy_next_upstream error timeout invalid_header http_500;
        proxy_next_upstream_tries 1;

        proxy_http_version 1.1;
        proxy_set_header Host $http_host;
        proxy_set_header Connection "";

        proxy_set_header X-Real-IP       $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        client_max_body_size 0;
    }
{%- endif %}

{% if not inventory_hostname in groups['runners_srebuildd'] %}
    server {
        listen 127.0.0.1:81;

        access_log /logs/sparkworker-sidecar-srebuildd-http.log combined;
        error_log /logs/sparkworker-sidecar-srebiuldd-http.err.log warn;

        location / {
          proxy_pass http://srebuildd;
        }
    }
{%- endif -%}
}
