# -------------------------------------------
# This is the base inventory file
# -------------------------------------------
# HOW TO DEPLOY SPARK
# Create the hosts and use their resolvable
# host shortname. If they are not resolvable
# from DNS, then add them to /etc/hosts on
# all spark workers.
#
# Create groups sparkmaster and sparkworkers.
# A decoupled architecture which requires an
# nginx sidecar will need groups for
# runners_s3 and runners_srebuildd. Spark
# workers which have an srebuildd instance
# must be in both the sparkworkers and the
# runners_srebuildd. SPark workers which have
# an S3C instance must be in both the
# sparkworkers and the runners_s3
#
# -------------------------------------------

# If you want to use existing inventory hosts you need to define them under the
# hosts shortname (ie. `hostname -s`) and is resolvable via `/etc/hosts` or DNS
stor-01    ansible_host=10.100.3.74
stor-02    ansible_host=10.100.2.103
stor-03    ansible_host=10.100.1.132
stor-04    ansible_host=10.100.2.21
stor-05    ansible_host=10.100.2.79
conn-01    ansible_host=10.100.2.34
conn-02    ansible_host=10.100.2.46
conn-03    ansible_host=10.100.3.83
worker-01  ansible_host=10.100.3.73
worker-02  ansible_host=10.100.4.93
worker-03  ansible_host=10.100.4.39

# Place 1 docker host into sparkmaster group
# To submit the listkey.py script requires scality python RPM/modules installed
[sparkmaster]
stor-01

# Place your workers into sparkworkers group
# If you want to run workers on your master include it in the sparkworkers group
[sparkworkers]
stor-01
stor-02
stor-03
stor-04
stor-05
conn-01
conn-02
conn-03
worker-01
worker-02
worker-03

# If you will use a sidecar define the runners_srebuildd group
# This group will be configured as the server pool behind the nginx sidecar LB
[runners_srebuildd]
stor-01
stor-02
stor-03
stor-04
stor-05

# If you will use a sidecar define the runners_s3 group and which spark
# workers already have an s3 instance
[runners_s3]
conn-01
conn-02
conn-03